# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Olayinka Olaiya
#	email = rachael92.oo@outlook.com@devops-vm.krdjofvyimgehl5tubhbcrjkuh.xx.internal.cloudapp.net
